<!DOCTYPE html>
<html>
<body>
    <form th:action="@{/submit}" method="post" th:object="${registrations}">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" >
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        <br>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" >
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        <br>
		<label for="address">address:</label>
		<input type="text" id="address" name="address" >
		<span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
        <button type="submit">Submit</button>
    </form>
</body>
</html>